-optimizationpasses 5
-dontoptimize
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-allowaccessmodification
-keepattributes *Annotation*,Exceptions,InnerClasses,Signature,Deprecated,EnclosingMethod
-dontshrink
-dontwarn org.apache.**
-dontwarn javax.**
-dontwarn android.newland.**
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-adaptresourcefilenames    **/*.properties,**/*.gif,**/*.dtd
-adaptresourcefilecontents

#self defined
-keep public class com.newland.sdk.module.emv.** {*;}
-keep public class com.newland.sdk.me.module.emv.MEEMVL2 {*;}
-keep public class com.newland.sdk.me.module.emv.EMVInnerUtils {*;}
-keep public class com.newland.sdk.me.module.emv.EMVParseUtil {*;}
-keep public class com.newland.sdk.me.module.emv.EMVLevel2Const {*;}
-keep public class com.newland.sdk.me.module.emv.EMVLevel2Const$* {*;}
-keep public class com.newland.sdk.me.module.emvl3.impl.EmvL3Constant {*;}
-keep public class com.newland.sdk.me.module.emvl3.impl.EmvL3Constant$* {*;}
-keep public class com.newland.sdk.me.module.emv.AbstractEMVTransController {*;}
-keep public class com.newland.sdk.mtypex.module.common.emv.SoundPoolImpl{*;}
-keep public class com.newland.sdk.me.module.emv.FileUtils{*;}
-keep public class com.newland.sdk.mtypex.module.common.emv.CommonUtils{*;}
-keepclassmembers enum * {
    *;
}
#for android
-keep public class * extends android.app.Activity 
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class com.android.vending.licensing.ILicensingService

-keepclasseswithmembernames class !org.apache.** { 
  native <methods>;
}
 
-keepclasseswithmembernames class * {
  public <init>(android.content.Context, android.util.AttributeSet);
}
 
-keepclasseswithmembernames class * {
  public <init>(android.content.Context, android.util.AttributeSet, int);
}
  
-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-dontwarn android.support.v4.**
-dontwarn android.newland.**