<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newland.mesdk.scanmodule" >
<!--<uses-permission android:name="android.permission.CAMERA" />-->
<!--<uses-feature android:name="android.hardware.camera" />-->
<!--<uses-feature android:name="android.hardware.camera.autofocus" />-->
<!--<uses-permission android:name="android.permission.MANAGE_NEWLANDUART3" />-->
<!--<uses-permission android:name="android.permission.WRITE_SETTINGS"-->
<!--tools:ignore="ProtectedPermissions" />-->
<!--    <uses-permission android:name="android.permission.WRITE_SETTINGS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
<!--    //单独打包扫码aar包时加的权限-->
</manifest>